name = "feedback-api"
main = "src/index.ts"
compatibility_date = "2024-04-01"

[ai]
binding = "AI"

[[d1_databases]]
binding = "DB"
database_name = "feedback-db"
database_id = "951cb9a9-5533-4084-99c4-7bfc0eda706b"

[[vectorize]]
binding = "VECTOR_INDEX"
index_name = "feedback-index"